.one {
    background-color: #4056A1;
    font-size: xx-large;
    height: 40px;
    float: left;
    width: 100%;
    text-align: center;
}
.backgroundcol {
    background-color: #222831;
    color: #EEEEEE;
}
.five {
    font-size: x-large;
    font-family: "Courier New";
    text-align: center;
    background-color: #6B778D;
    color: #f0a04b;
    border-style: dashed;
}
.image {
    width: 33%;
}
.treasonAnimal {
    text-align: center;
}
table,tr ,td {
    border: 1px solid black;
}
.glGrupa{
    text-align: left;
    background-color: #d25865;
}
.podGrupa{
    text-align: right;
    background-color: palegreen;
}
.tablitsa {
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.photo img {
    width: 400px;
    height: 400px;
}
.photo:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.tablhead {
    font-size: xxx-large;
    text-align: center;
}